<%= link_to "New Brewery", '/breweries/new' %>

<h1>Breweries</h1>
  <p><a href="/breweries">Brewery Index</a></p>
  <p><a href="/beers">Beers Index</a></p>

    <% @breweries.each_with_index do |brewery, index| %>
    <div id="brewery-<%= index %>">
      <p><%= brewery.name %></p>
    <% end %>

    <% @breweries.each do |brewery| %>
      <p><%= brewery.name %></p>
    <% end %>
